@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0;
    padding: 0;
    height: 1000px; */
    background-image: url(./Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


@media (max-width: 1000px) {

    .full-img img {
        /* transform: rotate(-20deg); */
        width: 95%;
        max-width: 450px;

    }


    @keyframes movement {
        from {
            transform: translateX(-20px);
        }

        to {
            transform: translateX(20px);
        }
    }
}


@media (max-width: 800px) {
    .gallery .image {
        width: calc(100% / 2);
    }

    .filterDiv img {
        height: 20vh;
        width: 30vh;
        border-radius: 15px;
    }

    .container {

        transform: translateY(10vh);
    }

    header {
        height: 30px;
    }

    footer {
        height: 30px;
    }

    .btn {
        border: 2px solid #2856ec;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        text-align: center;
        width: 55px;
        border-radius: 15px;
    }

    body {
        /* margin: 0;
    padding: 0;*/
        height: 900px;
    }
}


@media (max-width: 700px) {

    @keyframes movement {
        from {
            transform: translateX(-10px);
        }

        to {
            transform: translateX(10px);
        }
    }
}


@media (max-width: 600px) {


    body {
        /* margin: 0;
        padding: 0;*/
        height: 850px;
    }
}


@media (max-width:450px) {
    body {
        /* margin: 0;
        padding: 0;*/
        height: 910px;
    }

    .filterDiv img {
        height: 17vh;
        width: 25vh;
        margin: 2px;
        border-radius: 10px;
    }

    .full-img img {
        /* transform: rotate(-20deg); */
        /* width: 95%; */
        max-width: 270px;

    }
}