.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}



.full-img img {
    /* transform: rotate(-20deg); */
    width: 95%;
    max-width: 550px;

}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-style: 30px;
    color: #fff;
    cursor: pointer;
}